#  <p> <%= link_to 'ADDITION', maths_path(@math) %> </br></br>

#  <%= link_to 'SUBTRACTION', about_path(@math) %> </br></br>

#  <%= link_to 'MULTIPLICATION', about_path(@math) %> </br></br>

#  <%= link_to 'DIVISION', about_path(@math) %> </br></br>

#  <%= link_to 'MODULUS', about_path(@math) %> </p>


# <h1 class="text-center mt-4">WELCOME TO SIMPLE MATH CALCULATOR</h1></br>
# <h2 class="text-center mt-4">ADDITION SUBTRACTION MULTIPLICATION DIVISION AND MODULUS CALCULATIONS CAN BE PERFORMED HERE</h2>

# <div class="text-center mt-5">
# <%= link_to "CLICK FOR MATH OPERATION", about_path, class: "btn btn-outline-info" %>
# </div>

 # <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>