 <p> <%= link_to 'ADDITION', about_path(@math) %> </br></br>

 <%= link_to 'SUBTRACTION', about_path(@math) %> </br></br>

 <%= link_to 'MULTIPLICATION', about_path(@math) %> </br></br>

 <%= link_to 'DIVISION', about_path(@math) %> </br></br>

 <%= link_to 'MODULUS', about_path(@math) %> </p>
