<div id="page-content">

<h2 class="text-center mt-4">PERFORM YOUR SIMPLE MATHEMATIC CALCULATIONS</h2>

<%= form_with scope: :math, url: maths_path, method: :post, local: true do |f| %>

<p> <%= f.label :Enter_Your_First_Number %> </br>
    <%= f.number_field :First_Number %> </p>

<p> <%= f.label :Enter_Your_Second_Number %> </br>
    <%= f.number_field :Second_Number %> </p>

    <%= f.submit :addition %> </br></br>
    <%= f.submit :subtraction %> </br></br>
    <%= f.submit :multiplication %> </br></br>
    <%= f.submit :division %> </br></br>
    <%= f.submit :modulus %> </br></br>

<% end %>


</div>